body {
  background-color: black;
  color: white;
}

.mycols {
  background-color: rgb(12, 12, 12);
  border: 1px solid black;
}

#logPlayers {
  height: 200px;
  overflow-y: auto;
  background-color: #1f1f20ba;
}

.btn-secondary {
  background-color: #803e44;
  border-color: transparent;
}

#exampleModalLongTitle {
  color: red;
}
