body {
  background-color: black;
  color: white;
}

#logPlayers {
  height: 200px;
  overflow-y: auto;
  background-color: #1f1f20ba;
}

.btn-secondary {
  background-color: #803e44;
  border-color: transparent;
}

#exampleModalLongTitle {
  color: red;
}

.img-fluid {
  height: 45vh;
  object-fit: scale-down;
}
